* {
    box-sizing: border-box;
    margin: 0;
	scroll-behavior: smooth;
	font-size: 10px;
	// font-family: 'Cabin', sans-serif;
    font-family: 'Rajdhani', sans-serif;

    /* Font Sizes Desktop */
    --font-xl: 6rem;
    --font-l: 5rem;
    --font-ml: 3.5rem;
    --font-m: 3rem;
    --font-ms: 2.5rem;
    --font-s: 2rem;
    --font-xs: 1.25rem;
    --pad-ab: 2rem;
    --nav-gap: 2rem;
    --proj-pad: 3rem;
    --skill-pad: 1rem;
}

.App {
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow: hidden;
	position: relative;

	/* Dark Theme */
	/* Backgrounds */
	--bg-1: #1f1f1f;
	--bg-2: #001220; 
	--bg-3: rgb(59, 70, 120); 
	--bg-4: rgb(76, 90, 155); 
	/* Main Titles & Headers */
	--text: #64ffda;
	/* Sub Titles & Headers */
	--text-a: #ffffff;
	/* Content Text and small titles & headers */
	// --text-b: #969593;
    --text-b: #8892b0;
	/* Highlight clickable */
	--text-hl: #64ffda;
	/* Highlight display only */
	--text-hl-a: #ffffff;
	/* Alerts & Notifications */
	--al-rd: black;
	--al-gr: black;
	--al-yl: black;
	--al-bl: black;
	/* Shades */
	--sh-dk: rgba(174, 174, 174, 0.15);
	--sh-lt: rgba(124, 124, 124, 0.45);
	--sdw-a: rgba(0,0,0,0.55);
	--sh-mobile: rgba(49, 49, 49,0.95);
	--sh-img: rgba(100, 255, 218,1);
	/* Element Specific */
	--nextLink-a: #ffffff;

    background: radial-gradient(at top, #1d2251, #001220);

    #home {
        // background-image: url(../images/svgs/layered-peaks-haikei.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: background-image 0.3s;
    }
}

.App.lightMode {

	/* Light Theme */
	/* Backgrounds */
	--bg-1: #ffffff;
	--bg-2: #FBF0DF; 
	--bg-3: rgb(59, 70, 120); 
	--bg-4: rgb(76, 90, 155); 
	/* Main Titles & Headers */
	--text: #0A192F;
	/* Sub Titles & Headers */
	--text-a: #0A192F;
	/* Content Text and small titles & headers */
	--text-b: #313131;
	/* Highlight clickable */
	--text-hl: #0A192F;
	/* Highlight display only */
	--text-hl-a: black; 
	/* Alerts & Notifications */
	--al-rd: black;
	--al-gr: black;
	--al-yl: black;
	--al-bl: black;
	/* Shades */
	--sh-dk: rgba(49, 49, 49,0.20);
	--sh-lt: rgba(124, 124, 124, 0.35);
	--sdw-a: rgba(0,0,0,0.55);
	--sh-mobile: rgba(124, 124, 124, 0.95);
	/* Element Specific */
	--nextLink-a: #ffffff;

    #home {
        // background-image: url(../images/svgs/layered-peaks-haikei-lt.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: background-image 0.3s;
    }
}

a {
    text-decoration: none;
    background-size: 0 2px, 100% 2px;
    background-position: 0 0, 100% 100%;
    background-repeat: no-repeat;

}

#tsparticles {
    position: absolute;
    top: 0rem;
    left: 0rem;
}

/* Nav Bar Sizes Desktop */
#nav-bar {
    top: 0px;
    padding: 0.5rem 0rem 0.5rem 0rem;
    justify-content: space-between;
    background-color: transparent;
	height: 5vh;
    position: fixed;
    width: 100vw;
    left: 0px;
    z-index: 110;
    display: flex;
    flex-direction: row;
    transition: background-color 0.5s ease-in;

    .nav-bar-left {
        flex-grow: 1;
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: var(--nav-gap);
        justify-content: flex-start;

        .nav-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;

            svg {
                pointer-events: none;
                /* fill: var(--text-hl) !important; */
                height: var(--font-s);
                fill: var(--text);
                cursor: pointer;
            }
        }

        .nav-btn.selected {
            svg {
                /* fill: var(--text-hl) !important; */
                fill: var(--text-hl);
            }
        }
    }

    .nav-bar-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding-right: 8rem;

        a {
            font-size: var(--font-s);
            text-decoration: none;
            padding: 0.5rem;
            display:inline-block;
            position: relative;
            color: var(--text-b);
            transition: background-size 0.5s ease-in;
            transition: color 0.3s;
        }

        a:hover {
            color: var(--text-hl);
            transition: color 0.3s;
        }

        a.selected {
            color: var(--text-a);
            text-decoration: none;
            background-image: linear-gradient(var(--text-a), var(--text-a));
            background-size: 100% 2px, 0 2px;
            background-position: 0px 100%, 100% 100%;
            background-repeat: no-repeat;
            transition: background-size 0.5s ease-in;
        }
    } 



}

#nav-bar.contrast {
    border: none;
    border-bottom: 1px solid var(--sh-lt);
    // background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(0.5rem);
    transition: background-color 0.5s ease-in;

    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

#nav-bar.hidden {
    background-color: transparent;
    border: none;
    transition: background-color 0.5s ease-in;
}


#home {
	position: relative;
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

    #particles {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .home-content {
        padding: 4.1rem;
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.3rem;
        // background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.4));
        background: radial-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.4));
        backdrop-filter: blur(0.5rem);

        // #banner-name {
        //     font-size: var(--font-xl);
        //     color: var(--text);
        //     z-index: 2;
        // }

        .slide-container {
            /* border: 1px solid #4BB3FD; */
            height: 100px;
            overflow: hidden;
            text-align: center;
            font-size: var(--font-xl);
            color: var(--text);
            z-index: 2;

            ul.v-slides {
                list-style-type: none;
                padding: 1rem;
                margin: 0;

                .v-slide {
                    font-size: var(--font-ml);
                    line-height: 100px;
                    color: var(--text-a)
                }

                li:nth-child(1), li:nth-child(5) {
                    color: var(--text);
                    font-size: var(--font-l);
                }
            }
        }

        .link-container {
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            padding-bottom: 1rem;

            .link-item-home {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;


                .link-svg-home {
                    height: 3.5rem;
                    width: 3.5rem;

                    svg {
                        transform:  translateY(-100px);
                        height: 100%;
                        width: 100%;
                        fill: var(--text-b);
                        transition: transform 0.3s, fill 0.3s;
                    }
                }

                p:nth-child(2) {
                    /* z-index: 101; */
                    will-change: transform, opacity;
                    position: absolute;
                    bottom: 0rem;
                    font-size: var(--font-xs);
                    color: var(--text-hl);
                    opacity: 0;
                    transition: transform 0.5s, opacity 0.5s;
                }


            }

            .link-item-home:hover  {
                
                p:nth-child(2) {
                    transform: translate(0rem, 1rem);
                    opacity: 1;
                    transition: transform 0.5s, opacity 0.5s;
                }

                svg {
                    fill: var(--text-hl);
                }
            }




        }
    }

    .home-next-link {
        will-change: transform, opacity; 
        position: absolute;
        bottom: 0rem;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        transform: translateY(10rem);
        opacity: 0;

        p {
            color: var(--nextLink-a);
            font-size: var(--font-s);
            padding-bottom: 1rem;
            transition: color 0.3s;
        }

        div {
            height: 3rem;

            svg {
                fill: var(--nextLink-a);
                width: 100%;
                height: 100%;
                transition: fill 0.3s;
            }
        }
    }

    .home-next-link:hover {
        p {
            color: var(--text-hl);
            transition: color 0.3s;
        }
        svg {
            fill: var(--text-hl);
            transition: fill 0.3s;
        }
    }

}

/* About Styles Desktop  */
.about {
    width: 100%;
    position: relative;
    /* height: 200vh; */
    background-color: var(--bg-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    .about-container {
        width: 80%;
        max-width: 114rem;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 0;
        transform: translateY(10rem);

        .about-content-all {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .about-content-left {
                display: flex;
                flex-direction: column;
                width: 60%;
            }
        }

        .about-content-right {
            position: relative;
            // flex-grow: 1;
            margin: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // border-radius: 0.4rem;

            .bio-wrapper {
                position: relative;
                border-radius: 0.4rem;
                z-index: 1;
                overflow: hidden;

                .img-filter {
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.4rem;
                    background-color: rgba(100, 255, 218, 0.4);
                    z-index: 3;
                    transition: opacity 0.3s;
                }
    
                .bio-image {
                    width: 30rem;
                    height: 30rem;
                    background-size: cover;
                    background-position: center;
                    border-radius: 0.4rem;
                    z-index: 2;
    
                    img {
                        width: 100%;
                        filter: grayscale(100%);
                        transition: filter 0.3s;
                    }
                }
            }

            .img-bg {
                z-index: 0;
                position: absolute;
                top: 1.5rem;
                left: 1.5rem;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border-radius: 0.4rem;
                border: 2px solid var(--text);
                transition: 0.3s;
            }

        }

        .about-content-right:hover {
            
            .img-filter {
                opacity: 0;
                transition: opacity 0.3s;
            }

            .bio-image {

                img {
                    filter: grayscale(0%);
                    transition: filter 0.3s;
                }
            }

            .img-bg {
                transform: translate(0.5rem, 0.5rem);
                transition: 0.3s;
            }
        }

        .about-content-right:active {

            // .img-bg {
            //     transform: translate(-0.5rem, -0.5rem);
            //     transition: 0.3s;
            // }
        }
    }

    .section-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .about-title {
            font-size: var(--font-l);
            color: var(--text-a);
            padding: 1rem;
        }

        .skills-title {
            font-size: var(--font-ms);
            color: var(--text-a);
            padding: 1rem;
        }

        .section-break {
            flex: 1 1;
            height: 1px;
            background-color: var(--text);
        }
        
    }

    .about-bio {
        font-size: var(--font-s);
        color: var(--text-b);
        padding: 1rem;
        line-height: 2.5rem;
    }

    .skill-label {
        font-size: var(--font-s);
        padding: 1rem;
        color: var(--text-b);
    }

    @keyframes loop {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
    }

    .loop-slider {
        position: relative;
        width: 100%;
        overflow: hidden;
        @keyframes loop {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(-50%);
            }
        }

        .inner {
            width: 200%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            animation-name: loop;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-duration: 20s;

            div[class*="child"] {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }

            .skill-item {
                // position: absolute;
                margin-right: 3rem;
                // z-index: 101;

                padding: var(--skill-pad);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                img {
                    height: var(--font-xl);
                    padding-bottom: 0.3rem;
                }
    
                svg {
                    height: 3.5rem;
                }
    
                .skill-title {
                    font-size: var(--font-xs);
                    padding: 0.3rem;
                    color: var(--text-b);
                }
            }
        }

        .inner.back {
            animation-direction: reverse;
            animation-duration: 18s;
        }

        .inner.dev {
            animation-direction: normal;
            animation-duration: 15s;
        }

        .fade {
            pointer-events: none;
            background: linear-gradient(90deg, var(--bg-1), transparent 20%, transparent 80%, var(--bg-1));
            position: absolute;
            width: 100%;
            inset: 0;
        }
    }
}

#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-1);
    padding-bottom: 10rem;

    .project-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 114rem;
        padding: 5rem;
        opacity: 0;
        transform: translateY(10rem);

        .project-section-title {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            .about-title {
                font-size: var(--font-l);
                color: var(--text-a);
                padding: 1rem 1rem 1rem 0rem;
            }
    
            .skills-title {
                font-size: var(--font-ms);
                color: var(--text-a);
                padding: 1rem;
            }
    
            .section-break {
                flex: 1 1;
                height: 1px;
                background-color: var(--text);
            }
            
        }
    }

    .project-container {
        // padding: 7rem 0rem;
        max-width: 114rem;
        padding: 5rem;

        div[id*="project-item"]{
            position: relative;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
            // opacity: 0;

            .project-image {
                position: relative;
                border-radius: 0.4rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                opacity: 0;

                .img-wrapper {
                    border-radius: 0.4rem;
                    z-index: 1;
                    overflow: hidden;
  

                    .img-filter {
                        position: absolute;
                        top: 0rem;
                        left: 0rem;
                        width: 100%;
                        height: 100%;
                        border-radius: 0.4rem;
                        background-color: rgba(100, 255, 218, 0.4);
                        z-index: 3;
                        transition: opacity 0.3s;
                    }
        
                    .proj-image {
                        background-size: cover;
                        background-position: center;
                        border-radius: 0.4rem;
                        z-index: 2;
        
                        img {
                            width: 100%;
                            filter: grayscale(100%);
                            transition: filter 0.3s;
                        }
                    }


                }

                .img-bg {
                    z-index: 0;
                    position: absolute;
                    // top: 1.5rem;
                    // left: 1.5rem;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border-radius: 0.4rem;
                    border: 2px solid var(--text);
                    transition: 0.3s;
                }

                // img {
                //     width: 100%;
                //     filter: grayscale(100%);
                //     transition: filter 0.3s;
                //     z-index: 2;
                // }

                // img:hover {
                //     width: 100%;
                //     filter: grayscale(0%);
                //     transition: 2s;
                // }
            }

            .project-image:hover {
                .img-wrapper {

                    .img-filter {
                        opacity: 0;
                        transition: opacity 0.3s;
                    }
        
                    .proj-image {
        
                        img {
                            filter: grayscale(0);
                            transition: 0.3s;
                        }
                    }
                }

            }


            .project-content-container {
                display: flex;
                flex-direction: column;
                // align-items: flex-end;
                justify-content: center;
                // grid-area: 1 / 5 / 2 / -1;
                z-index: 2;

                div[class*="project-header"] {
                    display: flex;
                    width: 100%;
                    // justify-content: flex-end;
                    opacity: 0;

                    p[class*="project-title"] {
                        font-size: var(--font-ml);
                        color: var(--text-a);
                        padding: 1rem 0rem;
                        max-width: 70%;
                    }
                }

                div[class*="project-details"] {
                    /* INITIAL CONDITION FOR ANIMATION */
                    opacity: 0;
                    padding: 1rem 0rem;

                    .project-desc {
                        font-size: var(--font-s);
                        line-height: 2.5rem;
                        color: var(--text-b);
                        padding: 2.5rem;
                        max-width: 60rem;
                        // background-color: var(--bg-2);
                        background: radial-gradient(at top, #1d2251, #001220);
                        border-radius: 0.4rem;
                    }

                    .tech-list {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        // justify-content: flex-end;
                        flex-wrap: wrap;
                        gap: 0.4rem;
                        padding: 2rem 0rem;

                        .tech-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-radius: 0.4rem;
                            overflow: hidden;

                            .tech-logo {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                background-color: var(--sh-lt);
                                border-radius: 0.4rem;
                                padding: 0.2rem;

                                svg {
                                    width: var(--font-s);
                                    fill: white;
                                }
                            }

                            p {
                                font-size: var(--font-xs);
                                color: black;
                                padding: 0.5rem 1rem;
                                white-space: nowrap;
                            }
                        }

                        .tech-item.html {
                            color: black;
                            background-color: #f06529;
                        }
                        
                        .tech-item.javascript {
                            color: black;
                            background-color: #FFFF00;
                        }
                        
                        .tech-item.css {
                            color: black;
                            background-color: #3C99DC;
                        }
                        
                        .tech-item.sass {
                            color: black;
                            background-color: #cc6699;
                        }
                        
                        .tech-item.webpack {
                            color: black;
                            background-color: #8ED5FA;
                            /* background-color: #1C78C0; */
                        }
                        
                        .tech-item.npm {
                            color: black;
                            background-color: #cc3534;
                        }
                        
                        .tech-item.jest {
                            color: black;
                            background-color: #c63d14;
                            
                        }
                        
                        .tech-item.api {
                            color: black;
                            background-color: #eb6d4a;
                        }
                        
                        .tech-item.react {
                            color: black;
                            background-color: #61DBFB
                        }
                        
                        .tech-item.firebase {
                            color: black;
                            background-color: #FFCB2B;
                            /* background-color: #F5820D; */
                            /* background-color: #FFA611; */
                        }
                    }

                    .project-links {
                        width: 100%;
                        display: flex;
                        // justify-content: flex-end;
                        align-items: center;
                        gap: 1rem;

                        .project-btn {
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            width: 10rem;
                            padding-right: 2rem;

                            p {
                                will-change: transform, opacity;
                                font-size: var(--font-xs);
                                white-space: nowrap;
                                position: absolute;
                                left: 1rem;
                                color: var(--text-hl);
                                opacity: 0;
                                transition: transform 0.5s, opacity 0.5s;
                            }

                            .link-svg-proj {
                                height: 3.5rem;
                                width: 3.5rem;

                                svg {
                                    fill: var(--text-b);
                                    height: 100%;
                                    width: 100%;
                                }


                            }
                        }

                        .project-btn:hover {

                            .link-svg-proj {

                                svg {
                                    fill: var(--text-hl)
                                }
                            }

                            p {
                                opacity: 1;
                                transform: translate(3rem, 0rem);
                                transition: transform 0.5s, opacity 0.5s;
                            }
                        }
                    }
                }
            }
        }

        .project-item-a {

            .project-image {

                grid-area: 1 / 1 / 2 / 8;
                transform: translate(-10rem);

                // img { /* INITIAL CONDITION FOR ANIMATION */
                //     transform: translate(-100vw);
                // }

                .img-wrapper {

                    .img-filter {
                    }
        
                    .proj-image {
        
                        img {
                        }
                    }
                }

                .img-bg {
                    top: 1.5rem;
                    left: 1.5rem;
                }
            }

            .project-image:hover {

                .img-bg {
                    transform: translate(0.5rem, 0.5rem);
                    transform: transform 0.3s;
                }
            }

            .project-content-container {
                align-items: flex-end;
                grid-area: 1 / 6 / 2 / -1;

                .project-desc {
                    text-align: right;
                }

                .tech-list {
                    justify-content: flex-end;
                }

                .project-links {
                    justify-content: flex-end;
                }
            }

            div[class*="project-header"] {
                justify-content: flex-end;
                /* INITIAL CONDITION FOR ANIMATION */
                transform: translate(10rem);
                text-align: right;
            }

        }

        .project-item-b {

            .project-image {
                grid-area: 1 / 6 / 2 / -1;
                transform: translate(10rem);

                // img { /* INITIAL CONDITION FOR ANIMATION */
                //     transform: translate(100vw);
                // }

                .img-wrapper {

                    .img-filter {
                    }
        
                    .proj-image {
        
                        img {
                        }
                    }
                }

                .img-bg {
                    top: 1.5rem;
                    left: -1.5rem;
                    transform: transform 0.3s;
                }
            }

            .project-image:hover {

                .img-bg {
                    transform: translate(-0.5rem, 0.5rem);
                    transform: transform 0.3s;
                }
            }

            .project-content-container {
                align-items: flex-start;
                grid-area: 1 / 1 / 2 / 8;

                .tech-list {
                    justify-content: flex-start;
                }

                .project-links {
                    justify-content: flex-start;
                }
            }


            div[class*="project-header"] {
                justify-content: flex-start;
                /* INITIAL CONDITION FOR ANIMATION */
                transform: translate(-10rem);
            }
        }
    }
}










.contact {
    position: relative;
    // background-color: var(--bg-1);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 600px;
        opacity: 0;
        transform: translateY(10rem);

        background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
        backdrop-filter: blur(0.5rem);
        padding: 4.1rem;

        .section-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .contact-title {
                font-size: var(--font-l);
                color: var(--text-a);
                padding: 1rem;
            }

            .section-break {
                flex: 1 1;
                height: 1px;
                background-color: var(--text);
            }
        }

        .link-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem;

            p:nth-child(2) {
                font-size: var(--font-s);
                padding-left: 0.5rem;
                color: var(--text-b);
                transition: color 0.3s;
            } 

            p:nth-child(3) {
                will-change: transform;
                font-size: var(--font-s);
                padding-left: 1rem;
                color: var(--text-b);
                transition: transform 0.3s;
            } 

            .link-svg {
                height: 3rem;
                width: 3rem;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: var(--text-b);
                    transition: fill 0.3s;
                }
            }
        }

        .link-item:hover {

            svg {
                fill: var(--text-hl);
                transition: fill 0.3s;
            }

            p:nth-child(2)  {
                color: var(--text-hl);
                transition: color 0.3s;
            }

            p:nth-child(3)  {
                /* color: var(--text-hl-a); */
                transform: translate(0.75rem);
                transition: transform 0.3s;
            }
        }
    }
}


.section-break {
    position: relative;
    height: 20vh;
    width: 100%;

    .section-break-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        svg {
            position: relative;
            display: block;
            // width: calc(100% + 1.3px);
            width: 100%;
            height: 100%
        }

        .shape-fill {
            fill: #1F1F1F;
        }
    }

    .section-break-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 0;
        // transform: rotate(180deg);

        svg {
            position: relative;
            display: block;
            // width: calc(100% + 1.3px);
            width: 100%;
            height: 100%
        }

        .shape-fill {
            fill: #1F1F1F;
        }
    }


}












// --------------------------------------------------------
.skill-container {
    width: 100%;
}

/* Project styles */
#projects {
    /* width: 100vw; */
    /* padding: 5rem; */
    width: 100%;
} 

.project-container {
    width: 80%;
}

// .project-content-container {
//     padding: 2rem;
// }

.project-header {
    display: flex;
    width: 80%;
    /* max-width: 100rem; */
    /* padding-bottom: 2rem;
    padding-top: 5rem; */
    opacity: 0;
}

.project-header div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

div[id*="project-item"]{
    flex-direction: row;
}

img[class*="project-img"] {
    /* max-width: 40vw; */
    /* max-width: 1100px; */
    border-radius: 0.4rem;
}

/* .project-item-a img {
    box-shadow: -1rem 1rem 0rem var(--text-a);
}

.project-item-b img {
    box-shadow: 1rem 1rem 0px var(--text-a);
} */

/* Contact styles */
// #contact {
//     height: 100vh;
// } 
