/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-style: normal;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');




/* General Styles */
* {
	scroll-behavior: smooth;
	font-size: 10px;
	--background-main: #6279B8;
	font-family: 'Cabin', sans-serif;

	--a-: #293241;
	--b-: #3D5A80;
	--c-: #98C1D9;
	--d-: #E0FBFC;
	--e-: #EE6C4D;


	/* ~~~~~~~~~~~~~
	******Colors*****
	~~~~~~~~~~~~~~~~*/
	/* Blue */
	--bl4: #B4C5E4;
	--bl3: #3D52D5;
	--bl2: #086788;
	--bl1: #102B3F;
	/* Grey (black to white) */
	--bw4: rgb(126, 138, 155);
	--bw3: #D6D9CE;
	--bw2: #596475;
	--bw1: black;

	/* Orange */
	--o3: #FA9500;
	--o2: #EB6424;





	/* Light Theme */
	/* Backgrounds */
	--bg-1: var(--bw3);
	--bg-2: var(--bw4); 
	--bg-3: rgb(59, 70, 120); 
	--bg-4: rgb(76, 90, 155); 
	/* Main Titles & Headers */
	--text: var(--bl1);
	/* Sub Titles & Headers */
	--text-a: var(--bl2); 
	/* Content Text and small titles & headers */
	--text-b: var(--bw2);
	/* Highlight clickable */
	--text-hl: var(--o2); 
	/* Highlight display only */
	--text-hl-a: black; 
	/* Alerts & Notifications */
	--al-rd: black;
	--al-gr: black;
	--al-yl: black;
	--al-bl: black;
	/* Shades */
	--sh-dk: rgba(63, 63, 63, 0.15);
	--sh-lt: rgba(255,255,255,0.35);
	--sdw-a: rgba(0,0,0,0.55);

}

.App {
	display: flex;
	flex-direction: column;
	width: 100vw;
	/* background-image: url(../images/background.jpeg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
	
	
}

/* .App > div {
	height: 85vh;
} */

body {
	/* background-color: var(--o3); */
}

/* Main Section Styles */

.backdrop-home {
	/* width: 100vw;
	height: 100vh; */
	/* background-color: var(--bg-1); */
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.backdrop-about {
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-2);
	position: absolute;
	top: 100vh;
	left: 0;
	z-index: -1;
}


.projects {
	color: red;
	height: 85vh;
}



  


