
/* Cloud Containers */
.cloud-array {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.cloud-array div {}


.cloud {
    border-radius: 50%;
}

#cloud-container-single {
    position: absolute;
    /* top: 300px;
    left: 300px; */
    /* width: 600px;
    height: 200px; */
    /* border: 1px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition: opacity 3s;
}

#cloud-container-single.hide-cloud {
    opacity: 0;
    transition: opacity 3s;
}



/* Base Layer */
.base-layer {
    top: -300px;
    left: -300px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#cloud-base {
    position: absolute;
    /* background-color: black; */
    /* top: 0;
    left: 0; */
    height: 100%; 
    width: 100%;
    /* filter: url(#filter-base); */
    box-shadow: 300px 300px 19px 40px rgba(255, 255, 255, 1);
}


/* Back Layer */
.back-layer {
    top: -300px;
    left: -300px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#cloud-back {
    height: 50%; 
    width: 83%;
    box-shadow: 300px 300px 10px 40px rgba(215, 215, 215, 0.3);
}


/* Mid Layer */
.mid-layer {
    top: -300px;
    left: -300px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#cloud-mid {
    /* position: absolute; */
    /* background-color: black; */
    /* top: 0;
    left: 0; */
    width: 96%;
    height: 30%;
    /* filter: url(#filter-back); */
    box-shadow: 300px 300px 28px 30px rgba(66, 105, 146, 0.2);
}



/* Front Layer */
.front-layer {
    top: -300px;
    left: -300px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#cloud-front {
    /* position: absolute; */
    /* background-color: black; */
    /* top: 20%;
    left: 0; */
    width: 80%;
    height: 20%;
    /* filter: url(#filter-mid); */
    box-shadow: 300px 300px 30px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: -20px;
}





/* Background Cloud */
#cloud-background {
    z-index: 1;
}

#cloud-base-bg {
    position: absolute;
    height: 100%; 
    width: 100%;
    box-shadow: 300px 300px 19px 40px rgba(255, 255, 255, 1);
}


#cloud-back-bg {
    height: 50%; 
    width: 83%;
    box-shadow: 300px 300px 10px 40px rgba(215, 215, 215, 0.3);
}

#cloud-mid-bg {
    width: 96%;
    height: 10%;
    box-shadow: 300px 300px 28px 30px rgba(66, 105, 146, 0.2);
}

#cloud-front-bg {
    width: 50%;
    height: 5%;
    box-shadow: 300px 300px 30px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: -20px;
}

