.clouds {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cloud-small {
    display: flex;
    border-radius: 50%;
    position: absolute;
    /* border: 1px dotted black; */
    transition-duration: 700ms;
    transition-property: background-color;
}

.hide {
    transition-duration: 10ms;
    transition-property: background-color;
    background-color: rgba(255,255,255,0);
}

.highlight {
    transition-duration: 700ms;
    transition-property: background-color;
    background-color: rgba(255, 255, 255, 0.25);
}