@media only screen and (max-width: 850px) { //tablet & Small Desktops	

	.about {
		.about-container {
			width: 90%;
			padding: 0rem;
	
			.about-content-all {
				flex-direction: column;
				align-items: center;
	
				.about-content-left {
					width: 100%;
				}
			}
	
			.about-content-right {
				margin-bottom: 4rem;
			}
		}

		.section-header {
			width: 100%;
		}
	
		@keyframes loop {
			0% {
			  transform: translateX(0);
			}
			100% {
			  transform: translateX(-50%);
			}
		}
	
		.loop-slider {
			.inner {
				width: 300%;
	
				.skill-item {
		
					img {
						height: var(--font-l);
						// padding-bottom: 0.3rem;
					}
				}
			}
		}
	}
	
	#projects {
		padding: 10rem 0rem;
	
		.project-header {
			width: 90%;
			padding: 0rem;
		}
	
		.project-container {
			width: 90%;
			padding: 5rem 0rem;
	
			.project-item-a {
	
				.project-content-container {
					grid-area: 1 / 5 / 2 / -1;
				}
			}
	
			.project-item-b {
	
				.project-image {
					grid-area: 1 / 6 / 2 / -1;
					transform: translate(10rem);
				}
	
				.project-content-container {
					grid-area: 1 / 1 / 2 / 9;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) { //mobile

}