#nav-bar {
	height: 5vh;
	background-color: var(--sh-lt);
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color 0.5s ease-in;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-bottom: 1px solid var(--sh-lt);
}

#nav-bar.hidden {
    background-color: transparent;
    border: none;
    transition: background-color 0.5s ease-in;
}

#nav-bar a {
    display:inline-block;
    position: relative;
    color: var(--text-b);
    /* text-decoration: underline; */
}

#nav-bar a:hover {
    color: var(--text-hl);
    /* transform: translate(0rem, 0.5rem); */
    transition: all 0.3s;
}

/* #nav-bar.hidden a {
    color: var(--text-dk);
} */

#nav-bar a.selected {
    color: var(--text-a);
    text-decoration: none;

    background-image: linear-gradient(var(--text-a), var(--text-a));
    background-size: 100% 2px, 0 2px;
    background-position: 0px 100%, 100% 100%;
    background-repeat: no-repeat;

    transition: background-size 0.5s ease-in;
}

#nav-bar.hidden a.selected {
    /* color: var(--text-hl); */
    text-decoration: none;
    /* background-image: linear-gradient(var(--text-hl), var(--text-hl)); */
    background-size: 100% 2px, 0 2px;
    background-position: 0px 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s linear;
}

.nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;

}

.nav-bar-list {
	display: flex;
	flex-direction: row;
	align-items: center;
    gap: 2rem;
    padding-right: 2rem;
} 

a[id^="nav-link"] {
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem;
}


/* 
a[id^="nav-link"].selected, #nav-bar.hidden a.selected  {
    color: yellow;
    transition: 0.5s;
} */



/* All Scroll Listeners Styles */

/* Nav Bar Listener */
#top-of-site-pixel-anchor {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100vh;
    left: 0px;
    border: 2px solid red;
    z-index: 100;
}

/* Section Selection Listener */
/* #section-hide-about {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 1300px;
    left: 0px;
    border: 2px solid orange;
    z-index: 100;
} */


div[id^="section-inc"] {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid blue;
    z-index: 100;
    color: white;
    font-size: 1rem;
}

.inc-0 {
    top: 20vh;
    left: 0px;
}

.inc-1 {
    top: 125vh;
    left: 0px;
}

.inc-2 {
    top: 230vh;
    left: 0px;
}

.inc-3 {
    top: 335vh;
    left: 0px;
}

/* .inc-4 {
    top: 405vh;
    left: 0px;
} */


/* Link Hover Effect */

a {
    text-decoration: none;
    /* background-image: linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)); */
    background-size: 0 2px, 100% 2px;
    background-position: 0 0, 100% 100%;
    background-repeat: no-repeat;

}

a:hover {
    /* background-image: linear-gradient(var(--text-hl), var(--text-hl)); */
    /* color: var(--text-hl); */
    /* background-size: 100% 2px, 0 2px;
    transition: background-size 0.3s linear; */
}


/* svg Hover Effect */
#nav-bar svg {
    fill: var(--text-b);
    transform: scale(1.3);
}

#nav-bar svg:hover {
    fill: var(--text-hl);
    transform: scale(1.5);
    transition: fill 0.3s;
}

/* #nav-bar.hidden svg{
    fill: var(--text-dk);
} */

#nav-bar.hidden svg:hover{
    fill: var(--text-hl);
    transition: fill 0.3s;
    cursor: pointer;
    
}

