#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-1);
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


div[id*="project-item"]{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-bottom: 8rem;
    padding: var(--proj-pad);
}

img[class*="project-img"] {
    width: 50vw;
    max-width: 1100px;
    border-radius: 0.5rem;
}

.project-item-a img {
    /* INITIAL CONDITION FOR ANIMATION */
    transform: translate(-100vw);
    box-shadow: -1rem 1rem 0rem var(--text-a);
}
.project-item-a div[class*="project-header"] {
    /* INITIAL CONDITION FOR ANIMATION */
    transform: translate(100vw);
}

.project-item-b img {
    /* INITIAL CONDITION FOR ANIMATION */
    transform: translate(100vw);
    box-shadow: 1rem 1rem 0px var(--text-a);
}

.project-item-b div[class*="project-header"] {
    /* INITIAL CONDITION FOR ANIMATION */
    transform: translate(-100vw);
}

div[class*="project-details"] {
    /* INITIAL CONDITION FOR ANIMATION */
    opacity: 0;
}


.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.project-header {
    display: flex;
    justify-content: flex-start;
}

p[class*="project-title"] {
    font-size: var(--font-ml);
    color: var(--text-a);
    padding: 1rem;
}

.project-desc {
    font-size: var(--font-s);
    line-height: 2.5rem;
    color: var(--text-b);
    padding: 1rem;
    max-width: 60rem;
    /* visibility: hidden; */
}

.project-tech {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tech-list p {
     font-size: var(--font-s);
     color: var(--text-b);
     padding: 1rem;
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* visibility: hidden; */
    padding: 1rem;
}

.project-btn {
    z-index: 101;
    will-change: transform; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: var(--sh-dk); */
    padding: 1rem;
    border-radius: 5rem;
    /* box-shadow: 3px 3px 5px var(--sdw-a); */
    transition: transform 0.3s;
    border: 1px solid var(--text-a);
}

.project-btn p {
    font-size: var(--font-xs);
    color: var(--text-a)
}

.project-btn:hover {
    background-color: var(--text-hl);
    border: 1px solid var(--text-hl);
    box-shadow: 3px 3px 5px var(--sdw-a);
    transform: scale(1.1);
    transition: transform box-shadow 0.3s;

}

.project-btn:hover p {
    color: var(--text-hl-a);
}



/* Project Listeners */

.pt {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 45vh;
    border: 1px solid orchid;
}


/* Project Animations */

/* div[id*="project-item"].display .project-img {
    opacity: 1;
    transition: all 0.5s;
} */

/* div[id*="project-item"].display .project-links  {
    visibility: visible;
	animation: fadeIn 1s ease-in;
}

div[id*="project-item"].display .project-tech  {
    visibility: visible;
	animation: fadeIn 1s ease-in;
}

div[id*="project-item"].display .project-desc  {
    visibility: visible;
	animation: fadeIn 1s ease-in;
}

div[id*="project-item"].display img  {

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
    50% {
        opacity: 0;
    }
	100% {
		opacity: 1;
	}
} */
/* 
div[id*="project-item"].display img {
    transform: translate(0vw);
    transition: transform 0.5s;
}

div[id*="project-item"].display .project-title {
    transform: translate(0vw);
    transition: transform 0.5s;
} */





