#projects {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 100vw; */
    background-color: var(--bg-1);
    /* padding: 2rem 0rem 0rem 0rem; */
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* min-width: 60rem; */
    /* padding: 3rem */
}


div[id*="project-item"]{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    /* width: 100%; */
    /* visibility: hidden; */
    padding: 3rem;
}

.project-item-a {

}

.project-item-a .project-img {
    transform: translate(-100vw);

}
.project-item-a .project-title {
    transform: translate(100vw);
}

.project-item-b .project-img {
    transform: translate(100vw);
}

.project-item-b .project-title {
    transform: translate(-100vw);
}


.project-img {
    /* width: 60vw; */
	background-repeat: no-repeat;
	background-size: contain;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: 0px 0px;
    box-shadow: 3px 3px 5px var(--sdw-a);
    border-radius: 2rem;
    border: 1px solid var(--text);
}

.project-content {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 4rem; */
}

.project-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.project-title {
    font-size: var(--font-ml);
    color: var(--text-a);
    padding: 1rem;
}

.project-desc {
    font-size: var(--font-s);
    line-height: 2.5rem;
    color: var(--text-hl-a);
    padding: 1rem;
    max-width: 60rem;
    visibility: hidden;
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    visibility: hidden;
}

.project-btn {
    z-index: 101;
    will-change: transform; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--sh-dk);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px var(--sdw-a);
    transition: transform 0.3s;
    border: 1px solid var(--text);
}

.project-btn p {
    font-size: var(--font-xs);
    color: var(--text-a)
}

.project-btn:hover {
    background-color: var(--sh-lt);
    transform: scale(1.1);
    transition: transform 0.3s;
}

.project-btn:hover p {
    color: var(--text-hl)
}



/* Project Listeners */

div[id*='proj-listener'] {
    height: 10px;
    width: 10px;
    /* border: 2px solid orange; */
    position: absolute;
    top: 25vh;
    left: 0px;
    visibility: hidden;
}

/* .pl-0 {
    position: absolute;
    top: 25vh;
    left: 0px;
}

.pl-1 {
    position: absolute;
    top: 100vh;
    left: 0px;
}

.pl-2 {
    position: absolute;
    top: 175vh;
    left: 0px;
}

.pl-3 {
    position: absolute;
    top: 325vh;
    left: 0px;
} */

.pt {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 45vh;
    border: 1px solid orchid;
}


/* Project Animations */

div[id*="project-item"].display{
    /* visibility: visible; */
}


/* div[id*="project-item"].display .project-img {
    opacity: 1;
    transition: all 0.5s;
} */

div[id*="project-item"].display .project-links  {
    visibility: visible;
	animation: fadeIn 1s ease-in;
}

div[id*="project-item"].display .project-desc  {
    visibility: visible;
	animation: fadeIn 1s ease-in;
}

div[id*="project-item"].display img  {

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
    50% {
        opacity: 0;
    }
	100% {
		opacity: 1;
	}
}

div[id*="project-item"].display .project-img {
    transform: translate(0vw);
    transition: transform 0.5s;
}

div[id*="project-item"].display .project-title {
    transform: translate(0vw);
    transition: transform 0.5s;
}





